.button {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  height: 100px;
  width: 200px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 2px 2px 6px grey;
  text-align: center;
  color: #000000;
  vertical-align: top;
}

.playgamebutton {
  text-shadow: 2px 1px 2px black;
  color: yellow;
  font-size: 28px;
  height: 400px;
  width: 280px;
  margin-left: 25px;
  background: url(https://images.dog.ceo/breeds/schnauzer-miniature/n02097047_6884.jpg) center; 
}

.learnbutton{
 background-color: rgb(0, 183, 255);
 color: #000000;
 font-size: 25px;
 height: 400px;
 width: 280px;
 margin-right: 25px;
}