.App {
  text-align: center;
}


.link{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: rgb(0, 81, 255);
  font-weight: bold;
  
}

a:link {
  text-decoration: none;
}

.MainButtons{
 margin-top: 150px;
 margin-bottom: 200px;
}